@use "variable";


.clinics{
   background-color: #f2bf80;
}
.clinics-wrap{
   background-color: #fff;
   border-radius: 20px;
   padding: 40px 80px 54px;
   @include variable.mq(tab){
      padding: 36px 50px;
   }

   @include variable.mq(){
      padding: 36px 22px;
      text-align: center;
   }
}

.clinics-title{
   font-size: 20px;
   margin-bottom: 40px;
   @include variable.mq(){
      font-size: 16px;
      margin-bottom: 30px;
   }
}

.clinics-item{
   display: flex;
   gap: 40px;
   font-size: 16px;

   &:not(:first-child){
      margin-top: 24px;
   }

   dt{
      width: 156px;
      height: 36px;
      text-align: center;
      color: variable.$accent-color;
      border: 1px solid variable.$accent-color;
      border-radius: 10px;
      line-height: 36px;

      @include variable.mq(tab){
         width: 138px;
      }
      @include variable.mq(){
         width: 104px;
         line-height: 26px;
         height: 26px;
      }
   }

   dd{
      font-weight: 300;
      line-height: 36px;
      a{
         border-bottom: 1px solid #666;
      }
      
      @include variable.mq(){
         line-height: 26px;
      }
   }

   @include variable.mq(tab){
      font-size: 14px;
      gap: 30px;
   }

   @include variable.mq(){
      font-size: 12px;
      gap: 20px;
   }
}

.clinics-item-right{
   display: flex;
   flex-wrap: wrap;
   gap: 5px 40px;
   @include variable.mq(tab){
     gap: 5px 30px; 
   }
   @include variable.mq(){
      width: calc(100% - 104px);
      gap: 5px 20px;
   }
}