@use "variable";


.faq{
   background-color: variable.$base-color;
   padding-top: 40px;
   overflow: hidden;

   @include variable.mq(){
      padding-top: 20px;
   }

   .faq-container{
      max-width: 1020px;
   }
}
.faq-list{
   margin-bottom: 96px;

   @include variable.mq(tab){
      margin-bottom: 80px;
   }
}

.faq-item{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
   &:not(:first-child){
      margin-top: 20px;
   }
}
.faq-item-q, .faq-item-a{
   padding: 14px 100px 14px 24px;
   cursor: pointer;
   font-size: 16px;
   @include variable.mq(){
      padding: 10px 64px 10px 20px;
      font-size: 14px;
   }
}


.faq-item-text{
   line-height: 30px;
   position: relative;
   padding-left: 42px;
   span{
      font-size: 24px;
      color: variable.$accent-color;
      margin-right: 16px;
      font-family: variable.$font-en;
      font-weight: 600;
      position: absolute;
      left: 0;
   }

   @include variable.mq(){
      font-size: 12px;
      line-height: 24px;
      span{
         font-size: 20px;
      }
   }
}

.faq-item-q{
   position: relative;
}
.faq-item-plus{
   width: 28px;
   height: 28px;
   background-color: variable.$accent-color;
   border-radius: 20px;
   position: absolute;
   right: 24px;
   top: 50%;
   transform: translateY(-50%);
   transition: all .3s;

   &:hover{
      opacity: .7;
   }

   @include variable.mq(){
      width: 22px;
      height: 22px;
      right: 20px;
   }
}

.faq-item-bar1, .faq-item-bar2{
   position: absolute;
   background-color: #fff;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.faq-item-bar1{
   width: 14px;
   height: 2px;
   @include variable.mq(){
      width: 10px;
   }
}
.faq-item-bar2{
   height: 14px;
   width: 2px;
   transition: .3s all;
   @include variable.mq(){
      height: 10px;
   }
   &.is-open{
      rotate: -90deg;
      transform-origin: 0% 0%;
   }
}


.faq-item-a{
   display: none;
}